.footer-menu {
    >li {
        > a {
            color: #fff;
        }
    }   
}

.main-footer {
    .footer-disclaimer {
        @media screen and (max-width:@screen-sm) {
            .btn {
                display: block;
                min-width: auto;
            }
            .footer-disclaimer-blocks {
                float: none;
            }
        }
    }
}
