@media (min-width: 769px) {
    .home {
        .header {
            .navbar {
                background: transparent;
                border-bottom: 1px solid transparent;
                transition: background 200ms ease-in;
                .logo {
                    opacity: 0;
                    transition: opacity 200ms ease-in;
                }
                .initial-navbar {
                    > li {
                        > a {
                            color: #fff;
                            transition: color 200ms ease-in;
                        }
                    }
                }
                .button-top-container {
                    //position: absolute;
                    //right: 50px;
                    //top:40px;
                    opacity: 0;
                    transition: opacity 200ms ease-in;
                }
            }

            &.bigHeader {
                .logo {
                    opacity: 1;
                }
                .navbar {
                    background: #fff;
                    border-bottom: 1px solid @border-bg;
                    .initial-navbar {
                        > li {
                            > a {
                                color:#000;
                                transition: color 200ms ease-in;
                                &:hover {
                                    color:@link-hover;
                                }
                            }
                             &.current-menu-item {
                                > a {
                                    color:@link-active;
                                }
                            }
                        }
                    }
                }
                .button-top-container {
                    opacity: 1;
                }
            }
        }
    }
    
    .header {
        .navbar {
            border: 0;
            margin: 0 auto;
            text-align: center;
            background: #fff;
            border-bottom: 1px solid @border-bg;
            .logo {
                position: absolute;
                left:25px;
                top: 6px;
                width: 255px;
            }
            .initial-navbar {
                display: inline-block;
                float: none !important;
                vertical-align: top;
                > li {
                    padding:32px 0;
                    > a {
                        font-family: 'proxima_nova_rgregular';
                        font-size: 14px;
                        text-transform: uppercase;
                        color:#000;
                        &:hover {
                            background: none;
                            color:@link-hover;
                        }
                    }
                    &.current-menu-item {
                        > a {
                            color:@link-active;
                        }
                    }
                }
            }
            .button-top-container {
                position: absolute;
                right: 50px;
                top:40px;
            }
        }
    }
    
    
    

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-default {
    background-color: #fff;
    border-color: transparent;
    background-color: @blue-bg;
    .navbar-header {
        padding-left: 10px;
        padding-top: 10px;
        .mobile-navbar {
            color:#fff;
        }
    }
    @media screen and (min-width:769px) {        
        .navbar-header {
            .mobile-navbar {
                color:@blue-bg;
                padding-left: 10px;
            }
        }
    }
     .mobile-navbar {
        color:@blue-bg;
    }
    .contact-mobile-button {
        position: fixed;
        right:30px;
        top:12px;
        > a {
            color: #fff;
            font-family: 'proxima_nova_rgbold';
            text-transform: uppercase;
            font-size: 14px;
            > span {
                background: #fff;
                border-radius: 30px;
                display: inline-block;
                width: 30px;
                height: 30px;
                margin-left: 10px;
                line-height: 30px;
                > i {
                    color: @blue-bg;
                    position: relative;
                    left: 7px;
                }
            }
        }
    }
}

.menu-mobile-container {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 2;
    background-color: @blue-bg;
    transform: translateY(-100%);
    transition: transform 400ms ease-in;
    ul.navbar-nav {
        position: absolute;
        top:50%;
        left:50%;
        .translate(-50%,-50%);
        >li {
            display: block;
            text-align: center;
            width: 100%;
            > a {
                color:#fff;
                text-transform: uppercase;
                font-size: 16px;
            }
        }
        &.current-menu-item {
            > a {
                color:@link-active;
            }
        }
    }
    .close-navbar {
        padding-left: 10px;
        padding-top: 10px;
        color: #fff;
        display: block;
        font-size: 18px;
    }
}
.mobmenu-open {
    .menu-mobile-container {
        transform: translateY(0);  
    }
}